*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;

}
/* blue and white shade website  */
:root {
    --color-primary : rgba(250, 243, 243, 0.95);
    --nav-color : rgba(181,237,245);
    --home-color : rgb(132, 226, 240);
}
body {
    background-color: var(--color-primary);
}
a{
    text-decoration: none;
    color : black;
}

nav {
    height : 5rem;
    width : 100vw;
    background-color: var(--nav-color);
    display : flex;
    justify-content: space-between;
    /* align-items: center; */
    padding : 1.4rem 1rem;
    box-shadow:  0px 14px 24px 5px rgba(0,0,0,0.45);
}

.navbar {
    height : auto;
    width  : 30%;
    display : flex;
    justify-content: space-between;

}
.nav-options {
    position : relative;
    flex-basis: 70%;
    display : flex;
    justify-content: space-between;
    font-size: 20px;
}


.logo {
    height : inherit;
    width : 10%;
    margin-top: 2px;
    padding : 1px 2px;
    cursor : pointer;
}
.logo img {
    height: 53%;
    width: 36%;
    margin-top : -20px;
    
}
.logo h5 {
    margin-top:3px;
    text-decoration: underline;
    cursor : pointer;
}
.nav-options a::after{
    content : '';
    position : absolute;
    bottom: 0px;
    left : 0;
    height : 2px;
    transform: translateX(0);
    transition : all .4s ease-in-out;
    width : 0%;
    height : 2px;
    background-color: green;
}

.nav-options a:hover::after{
    /* transform : translateX(100%); */
    transition : all .4s ease-in-out;
    
    width : 100%;  
}

.buttons {
    flex-basis: 40%;
    display : flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
}
button {
    height : 50px;
    width : 80px;
    border-radius: 10%;
    background-color: var(--color-primary);
    cursor : pointer;
    margin-left: 2px;
    transition : all .4s ease-in-out;
}
button:hover{
    box-shadow:  0px 10px 10px 5px rgba(0,0,0,0.35);
    transition : all .4s ease-in-out;
    background-color: rgba(181,237,245);
    font-weight: 700;
}

.login{
    display : none;
    height : 400px;
    width : 30%;
    position : absolute;
    top : 50%;
    left : 50%;
    background-color: azure;
    transform: translate(-50%,-50%);
    transition : all .4s ease-in-out;
}
.log-head{
    height : 50px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 2px solid silver;
}
.log-head h3{
    text-align: center;
    padding-top : 10px;
}
input {
    height : 30px;
    width : 200px;
    margin-top: 10px;   
    padding: 10px;
    outline : none;
    border: none;
    border-radius: 5%;

}
.log-con {
    display: flex;
    height : inherit;
    width : 100%;
    /* background-color: black; */
    align-items: center;
    
}

.left {
    height : inherit;
    width : 45%;
    margin-top: 20px;
    /* background-color: red; */
    padding : 20px;
    position : relative;
 
}

.left img{
    height : 80%;
    width : 100%;
    position : absolute;
    top : 3px;
    left: 5%;
}

.right {
    /* position: absolute; */
    height : 100%;
    width :60%;
    margin: 20px 0 0 20px;
    /* background-color: blue; */
    padding : 20px;
    /* border-left: 2px solid silver; */
}
.right button {
    margin-top: 20px;
    padding : 10px;
    width : 100px;
    height : 30px;
    text-align: center;
    padding-bottom: 8px;   

}


.right h4{
    margin-top : 10px;
    font-weight: 700;
    font-size: 1.3rem;
}


/* sign up button  */
.sign {
    /* display : none; */
    height : 400px;
    width : 30%;
    position : absolute;
    top : 50%;
    left : 50%;
    background-color: azure;
    transform: translate(-50%,-50%);
    transition : all .4s ease-in-out;
    display : none;
    /* z-index: -1; */
}
.sign .left {   
    margin-top: 30px;
}
.sign input {
    padding : 20px;
    border-radius: 5%;
}

.sign h4{
    text-align: center;
}


/* home page */ 

.home {
    height : 50vh;
    width : 100vw;
    background-color: var(--home-color);
    margin-top: 4px;
    padding : 20px;
    position : relative;
}
.top-part {
    text-align: center;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-bar{
    position : absolute;
    margin-top: 10px;
    height : 30px;
    width : 50%;
    /* background-color: black; */
    top : 30%;
    left : 55%;
    transform  : translate(-50%,-50%);
}
.search[placeholder] {
   font-weight: 800;
}


.search{
    width : 40vw;
    height : 40px;
    /* border-radius: 110px 92px 96px 96px / 66px 55px 48px 48px; */
    border-radius:110px 110px 114px 113px / 66px 66px 72px 64px;
    
}
.search-bar button {
    position: relative;
    height : 40px;
    margin-left: 0px;
    right : 10%;
    border-radius: 0px 0px 4px 0dpx / 66px 66px 72px 64px;
}